<h4>Listado personajes</h4>

<ul class="list-group">
  <li ngClass="" *ngFor="
  let character of characters;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd;" class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{'list-group-item-warning': isOdd,'list-group-item-success': isFirst, 'list-group-item-primary': isLast}">

    <section>
      <span>{{ i+1 }}.</span>
      <strong> Name:</strong> {{ character.name }} --
      <strong>Power: </strong> {{ character.power }}
    </section>

    <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)" >x</button>
  </li>
</ul>
